* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* STYLES */
.parent {
  font-family: "Montserrat", sans-serif;
  background: rgb(103, 255, 115);
  background: linear-gradient(
    0deg,
    rgba(103, 255, 115, 1) 8%,
    rgba(95, 216, 159, 1) 42%,
    rgba(85, 165, 217, 1) 79%
  );
  display: flex;
  flex-direction: column;
  height: 300px;
  width: 100%;
  overflow-x: hidden;
  overflow-y: auto;
}
/* to hide the linear-gradient background */
.parent::after {
  content: "";
  background-color: #fff;
  flex-grow: 1;
}
.msg-wrapper {
  display: flex;
  flex-direction: reverse;
  position: relative;
  /* margin of .mgs-wrapper and position and border of .msg-wrapper::before are the same*/
  margin: 4px 0;
}
.msg-wrapper > .msg-bg {
  background-color: rgb(255, 255, 255);
  flex-grow: 1;
  position: relative;
}
.msg-wrapper::before {
  content: "";
  position: absolute;
  left: 0px;
  right: 0px;
  top: -5px;
  bottom: -5px;
  border-style: solid;
  border-width: 5px 0;
  border-color: rgb(255, 255, 255);
}
.msg-wrapper > .bubble {
  padding: 10px;
  /* margin: 8px 0; */
  color: #fff;
  position: relative;
  overflow: hidden;
}
.msg-wrapper.mine .msg-bg {
  padding-left: 1rem;
}
.msg-wrapper:not(.mine) {
  flex-direction: row-reverse;
}
.msg-wrapper:not(.mine) > .bubble {
  background-color: rgb(139, 139, 139);
}
.bubble > .radius {
  position: absolute;
  top: -12px;
  left: -12px;
  right: -12px;
  bottom: -12px;
  /* position and border are the same */
  border: 12px solid rgb(255, 255, 255);
  border-radius: 11px;
  transition: border-radius 0.4s ease;
}

@media only screen and (min-width: 650px) {
  .parent {
    width: 300px;
  }
}
